{% extends 'base.html' %}

{% block head %}
    <title> Books </title>
{% endblock head %}

{% block content %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Book Name</th>
        <th scope="col"></th>

        <th scope="col">Details</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    {% for book in books %}
    <tbody>
      <tr>
        <th scope="row">{{ book.id}}</th>
        <td>{{ book.bookname }}</td>
        <td></td>
        <td> <a href="{{ url_for('books.get_book', id = book.id) }}" class="link-warning">Details</a> </td>
        <td> <a href="{{ url_for('books.update_book', id = book.id) }}" class="link-warning">Update</a> </td>
        <td> <a href="{{ url_for('books.delete_book', id = book.id) }}" class="link-warning">Delete</a> </td>
      </tr>
    </tbody>
    {% endfor %}  
  </table>
  
  {% endblock content %}


{% block page %}

<div class="col-md-5">
    <div class="content-section">
       {% block sidebar %}
        
  <div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Book Registration</legend>
            <div class="form-group">
                {{form.bookname.label(class = "form-control-label") }}
                {% if form.bookname.errors %}
                {{ form.bookname (class = "form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {%for error in form.bookname.errors%}
                        <span> {{error}} </span>
                    {%endfor%}
                </div>
                {%else%}
                {{form.bookname(class = "form-control form-control-lg") }}
                {% endif %}
  
            </div>
  
            <div class="form-group">
  
                {{form.publisher.label(class = "form-control-label") }}
                {% if form.publisher.errors %}
                {{form.publisher (class = "form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {%for error in form.publisher.errors%}
                        <span> {{error}} </span>
                    {% endfor %}
                </div>
                {%else%}
                {{form.publisher (class = "form-control form-control-lg") }}
                {% endif %}
  
            </div>
  
            <div class="form-group">
                {{form.author.label(class = "form-control-label") }}
                {% if form.author.errors %}
                {{form.author (class = "form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {%for error in form.author.errors%}
                        <span> {{error}} </span>
                    {%endfor%}
                </div>
                {%else%}
                {{form.author (class = "form-control form-control-lg") }}
                {% endif %}
            </div>
  
        </fieldset> 
  
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
  </div>       
       {% endblock sidebar %}
    </div>
</div>
{% endblock page %}

